<!DOCTYPE html>
<html lang="en">
<head>
    <title> Classification </title>
    <link rel="stylesheet" href="/Static/Css/classify.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/classify.css') }}">

</head>
<body>
    <header>
        
        <nav>
            <div class="logo"> IBM Team ID : NM2023TMID22276</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Classify</a></li>
                <li><a href="{{ url_for('team') }}">Team</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="form"> 

        <div class="web-title">
            <h2> Intelligent Garbage Classification Using Deep Learning</h2>
            <p> Select an Garbage image for Classification</p>
        </div>

        <form id="predict-form" method="POST" action="/predict" enctype="multipart/form-data">
            <label for="image-file">Insert Your Image</Select></label>
            <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png">
            <br><br>
            <input type="submit" value="Classify Garbage">
        </form>
        <div id="result"></div>
    </main>

    <footer>
        <script src="/Static/Javascript/script.js"></script>
    </footer>
</body>
</html>