<!DOCTYPE html>
<html lang="en">
<head>
    <title> Team </title>
    <link rel="stylesheet" href="/Static/Css/team.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/team.css') }}">

</head>
<body>

    <header>
        
        <nav>
            <div class="logo"> IBM Team ID : NM2023TMID22276</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('classify') }}">Classify</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main"> 

        <div class="web-title">
            <h2> Team Members</h2>
            <p> </p>
        </div>


          <div class="container">
            <div class="text">
              <h3>Team Leader</h3>
              <p>Vishnu(3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>Team Member 1</h3>
              <p>sivaraj (3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>Team Member 2</h3>
              <p>Manoharan (3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>Team Member 3</h3>
              <p>arun kumar(3rd year CSE)</p>
            </div>
            <div class="text">
                <h3>Team Memnber 4</h3>
                <p>chandru(3rd year CSE)</p>
            </div>

        
    </main>

    <footer></footer>
</body>
</html>